# Import libraries

In [ ]:
import os
os.chdir("C:/Users/pz413sz/Documents/test_workflows")

In [2]:
from workflow import c_0_0_create_dataset

In [3]:
c_0_0_create_dataset.describe()

This module contains practice data available to us
Seaborn data: anscombe, attention, brain_networks, car_crashes, diamonds, dots
Seaborn data: exercise, flights, fmri, gammas, iris, mpg, planets, tips, titanic
scikitlearn available datasets are:
load_boston(), load_iris(), load_diabetes(), load_linnerud()
available_sns_data() to look at seaborn data available
sns_data(data="tips") -> to get sns data
scikitlearn_data(data="load_boston") -> load_iris for iris data etc.

# Get sns data

In [4]:
df = c_0_0_create_dataset.sns_data()

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df['size'].value_counts()

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

# Replace values based on list

In [7]:
large = [3,4,5,6]
small = [1,2]

In [8]:
df['size'].replace(
    to_replace=large,
    value='Large',
    inplace=True
)

In [9]:
df["size"].value_counts()

2        156
Large     84
1          4
Name: size, dtype: int64

In [10]:
df['size'].replace(
    to_replace=small,
    value='small',
    inplace=True
)

In [11]:
df["size"].value_counts()

small    160
Large     84
Name: size, dtype: int64

In [12]:
df['total_bill'].describe()

count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

# Replace values of one column based on conditions of another column

In [13]:
df["total_bill"].values[df["total_bill"] < 19.785943] = int(0)
df["total_bill"].values[df["total_bill"] >= 19.785943] = int(1)

In [20]:
df["total_bill"].value_counts()

0.0    145
1.0     99
Name: total_bill, dtype: int64

In [26]:
df["total_bill"].values[(df["total_bill"] == 0) & (df["size"] == "small")] = 5.
df["total_bill"].values[(df["total_bill"] == 0) & (df["size"] == "Large")] = 10.

In [27]:
df['total_bill'].value_counts()

5.0     121
1.0      99
10.0     24
Name: total_bill, dtype: int64

In [30]:
df.head()

   total_bill   tip     sex smoker  day    time   size
0         5.0  1.01  Female     No  Sun  Dinner  small
1        10.0  1.66    Male     No  Sun  Dinner  Large
2         1.0  3.50    Male     No  Sun  Dinner  Large
3         1.0  3.31    Male     No  Sun  Dinner  small
4         1.0  3.61  Female     No  Sun  Dinner  Large

In [32]:
df["smoker"].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

# drop rows based on conditions of different columns

In [37]:
df.drop(df[(df["sex"] == "Female") & (df["smoker"] == "Yes")].index, axis=0, inplace = True )

In [39]:
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            233, 234, 235, 236, 237, 238, 239, 241, 242, 243],
           dtype='int64', length=211)

# Simple drop column

In [40]:
df.drop(["day"], axis=1, inplace = True)

# Replace any column values

In [42]:
df.head()

   total_bill   tip     sex smoker    time   size
0         5.0  1.01  Female     No  Dinner  small
1        10.0  1.66    Male     No  Dinner  Large
2         1.0  3.50    Male     No  Dinner  Large
3         1.0  3.31    Male     No  Dinner  small
4         1.0  3.61  Female     No  Dinner  Large

In [44]:
df['sex'].replace(['Male'],['Men'], inplace=True)

In [45]:
df['sex'].value_counts()

Men       157
Female     54
Name: sex, dtype: int64